.container{

    &__card{
        border-radius: 1rem;
        background-color: white;
        max-width: 22rem;
        width: 100%;
        margin: auto;
        text-align: center;
        position: absolute;
        align-self: auto;
    }
    &__topimg{
        position: relative;
        max-width: 22rem;
        width: 100%;
        height: 8.875rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    &__profimg{
        position: relative;
        padding: .3125rem;
        background-color: white;
        border-radius: 50%;
        max-width: 6.4375rem;
        width: 100%;
        bottom: 3.125rem;
    }
    &__text{
        margin: auto;
        max-width: 20.9375rem;
        h1{
            font-weight: 700;
            font-size: 1rem;
            color: $veryDarkBlue;
        }
        .h1_alt{
            font-weight: 400;
            font-size: 1rem;
            color: $darkGray;
        }
        h2{
            font-weight: 400;
            font-size: .825rem;
            color: $darkGreyBlue;
        }
        p{
            font-weight: 400;
            font-size: .75rem;
            color: $darkGreyBlue;
            margin: -.625rem;
        }
        
        .profinfo{
            margin-top: -3.75rem;
            display: grid;
            grid-template-columns: 3fr 2fr;
            column-gap: .625rem;
            align-items: center;
        }
        .left{
            text-align: left;
        }
        .right{
            text-align: right;
        }
        .city{
            margin-top: -.875rem;
            margin-bottom: 2rem;
        }
        .profstats{
            margin-top: auto;
            margin-bottom: 1rem;
            padding: .5rem 0 1rem 0;
            border-top: .0625rem solid $borderGray;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}

// Mobile specific adjustments
@media only screen and (max-width: 640px) and (min-width: 240px){
    .container{
        &__card{
            max-width: 20.5rem;
            margin-left: 55%;
            margin-right: 60%;
        }
    }
}